body {
    margin: 0;
    font-family: sans-serif, serif, inherit;
    background-image: url("nutritionbackgroundbig.jpg");
}
.border {
    color: lightgreen;
    border-style: solid;
    width: 50%;
    padding: 5%;
    margin: auto;
    z-index: 1;
}
.btn-group button {
  background-color: #4CAF50; 
  border: 1px solid green; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left;
  align-content: center;
  text-align: center;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; 
}

.btn-group button:hover {
  background-color: #3e8e41;
}
